<app-top-bar></app-top-bar>
<br>

<h3><b>Calendar </b></h3>
<br>
<mbsc-eventcalendar [data]="myEvents" [options]="calendarOptions" [(selectedDate)]="calendarSelectedDate">
</mbsc-eventcalendar>
<mbsc-popup [options]="popupOptions" [anchor]="popupAnchor" [buttons]="popupButtons" [headerText]="popupHeaderText" #popup>
<form [formGroup]="form">
    <div class="mbsc-form-group">
        <mbsc-input label="Title" [(ngModel)]="popupEventTitle" formControlName="popupEventTitle"></mbsc-input>
        <mbsc-textarea label="Description" [(ngModel)]="popupEventDescription"formControlName="popupEventDescription"></mbsc-textarea>
    <div *ngIf="form.get('popupEventTitle')?.hasError('required') && form.get('popupEventTitle')?.touched" class="validation-error">Title is required.</div>
    <div *ngIf="form.get('popupEventDescription')?.hasError('required') && form.get('popupEventDescription')?.touched" class="validation-error">Description is required.</div>
    </div>
</form>
    <div class="mbsc-form-group">
        
        <mbsc-datepicker [(ngModel)]="popupEventDates" [options]="datePickerOptions"  [startInput]="startInput"
            [endInput]="endInput"></mbsc-datepicker>
        <mbsc-input #startInput label="Starts"></mbsc-input>
        <mbsc-input #endInput label="Ends"></mbsc-input>
        
      
        <div *ngIf="isEdit" class="mbsc-button-group">
            <mbsc-button class="mbsc-button-block" color="danger" variant="outline" (click)="onDeleteClick()">Delete event
            </mbsc-button>
        </div>
    </div>

</mbsc-popup>

