<app-top-bar></app-top-bar>
<br>
<h3><b>List Users </b></h3>
<div class="container">
  <div class="search-container-left">
    <span class="p-input-icon-right">
      <i class="pi pi-search"></i>
      <input pInputText type="text" [(ngModel)]="searchKeyword" (input)="applyFilter()" placeholder="Search User" />
    </span>
  </div>


  <p-table [value]="users" [rows]="5" [paginator]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th> <!-- Add the Role column -->
        <!-- Add more columns if needed -->
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
      <tr role="row" class="user-row">
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td> <!-- Display the role -->
        <!-- Add more columns if needed -->
      </tr>
    </ng-template>
  </p-table>
</div>
