.container {
    margin: 20px;
  }
  
  .search-container-left {
    margin-bottom: 15px;
  }
  
  .user-row {
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .user-row:hover {
    background-color: #f0f0f0;
  }
  
  .p-input-icon-right {
    position: relative;
  }
  
  .p-input-icon-right i {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #9a9a9a;
  }
  
  /* Adjust Primeng Table styles */
  .ui-table th,
  .ui-table td {
    text-align: left;
  }
  
  .ui-table th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .ui-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  /* Adjust Primeng Paginator styles */
  .ui-paginator {
    margin-top: 15px;
  }
  
  /* Adjust Angular Material input styles */
  mat-form-field {
    width: 100%;
  }
  
  /* Adjust Angular Material table styles */
  .mat-table {
    width: 100%;
    margin-top: 15px;
  }
  
  .mat-header-cell,
  .mat-cell {
    padding: 8px;
  }
  
  .mat-row:hover {
    background-color: #f0f0f0;
  }
  